<nav class='navbar fixed-top navbar-expand-lg navbar-light bg-danger'>
  <div class='container-fluid'>
    <a
      class='navbar-brand'
      target='_blank'
      href='https://www.vietjetair.com'
    >VIETJETAIR.COM</a>
    <button
      class='navbar-toggler'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarNavAltMarkup'
      aria-controls='navbarNavAltMarkup'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarNavAltMarkup'>
      <div class='navbar-nav ml-auto'>
        <a class='nav-link' href='/'>Home</a>
        <a class='nav-link active' aria-current='page' href='/signin'>sign in</a>
        <a class='nav-link' href='/mcc'>FLEET</a>
        <a class='nav-link' href='/gallery'>gallery</a>
        <a
          class='nav-link'
          target='_blank'
          href='https://sfc.vietjetair.com/'
        >sfc ticket</a>
        <a
          class='nav-link'
          target='_blank'
          href='https://vietjet.sharepoint.com/vjcfiles/ENG/Forms/AllItems.aspx?e=2%3A76ef8aa3cbf2484585b6c52655259406&viewid=251f5d9d%2D0a09%2D4988%2Dbbd3%2D0e880f3413f0&id=%2Fvjcfiles%2FENG%2FENGINEERING%2F1%2E9%20MAINTENANCE%2F1%2E9%2E7%20SCANED%20FEEDBACK%20DAILY%2FDAD'
        >files</a>
        <a
          class='nav-link disabled'
          href='#'
          tabindex='-1'
          aria-disabled='true'
        ></a>
      </div>
    </div>
  </div>
</nav>