<div class='home-page-content'>
  <p style='font-size: 40px;'>DA NANG LINE MAINTENANCE DEPARTMENT</p><br />
  <ul>
    <li><a
        target='_blank'
        href='http://fs.vietjetair.com/'
        style='padding-left: 50px;padding-right: 50px;'
      >Flight view</a></li>
    <li><a
        target='_blank'
        href='https://lms.vietjetair.com'
        style='padding-left: 22px;padding-right: 22px;'
      >Training center</a></li>
    <li><a target='_blank' href='https://hr.vietjetair.com/'>Human Resource</a></li>
  </ul>
</div>