<div class="table-responsive bg-white table-bordered" style="margin-top: 57px !important;">
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Registration</th>
                <th>Description</th>
                <th>FSN</th>
                <th>A/C Type</th>
                <th>A/C Sub-Type</th>
                <th>Engine</th>
                <th>Capacity</th>
                <th>MTOW</th>
                <th>Tire Pressure</th>
                <th>Owner</th>
            </tr>
        </thead>
    </table>
</div>

    <script src="/css/jquery-3.5.1.js"></script>
    <script src="/css/jquery.dataTables.min.js"></script>
    <script src="/css/dataTables.bootstrap5.min.js"></script>
    <script src="/css/bootstrap.js"></script>    
    <script src="/js/datatable.js"></script>  

       

    