<div class='row'>
  <div class='col-1 col-sm-1 col-md-3 col-lg-4'></div>
  <div class='col-10 col-sm-10 col-md-6 col-lg-4'>
    <!-- FORM START -->
    <form action='' method='POST' class='form-container'>
      <div class='form-sign'>
        <h3 class='text-center'>SIGN IN</h3>

        <div class='form-group'>
          <div class='ex' for='email'>Email</div>
          <input
            class='form-control'
            type='email'
            name='email'
            placeholder='Email'
            autocomplete='off'
          />
        </div>
        <div class='form-group'>
          <div class='label' for='password'>Password</div>
          <input
            class='form-control'
            type='password'
            name='password'
            placeholder='Password'
            autocomplete='off'
          />
        </div>
        <div class='d-grid gap-2 button-form'>
          <button class='btn btn-danger mx-auto' type='submit'>Submit</button>
          
        </div>
        <p class='content-center'>Don't An Have Account?</p>
        <p class='content-center'><a class='content-center' href='/signup'>SIGN
            UP NOW</a></p>
      </div>

    </form>
    <!-- FORM END --></div>
</div>